<?php
/**
 * NP-Gravatar
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is
 * bundled with this package in the file LICENSE.txt.
 */

/**
 * Defines configuration for running the unit tests for the 
 * NP-Gravatar classes.
 *
 * @author Nikola Posa <posa.nikola@gmail.com>
 * @license New BSD License
 */

define('ZEND_FRAMEWORK_PATH', 'path to ZF goes here');

//Used for both NP_Service_Gravatar_Profiles tests. This should
//be some valid Gravatar email. Note that only read-only
//operations will be performed in these unit tests.
//Leave empty to disable online tests.
define('GRAVATAR_ACCOUNT_EMAIL', '');

//NP_Service_Gravatar_XmlRpc tests are not dependent on a network
//connection (not online) and only NP_Service_Gravatar_XmlRpc::test()
//method can be tested online. Enter valid Gravatar API key (related
//to the GRAVATAR_ACCOUNT_EMAIL) to enable online testing for the
//test() method.
define('GRAVATAR_API_KEY', '');
